@using LiveDocs.Shared.Services
@using LiveDocs.Shared.Services.Documents.Configuration

@if (!IsLandingPage && ShowDownloadOriginal)
{
    <div class="doc-tools">
        <a class="property-link" href="@Document.Path" target="_blank" rel="noopener noreferrer" download>Download original</a>
    </div>
}
@if (Configuration?.ShowDocumentNameAsTitle ?? false)
{
    <h1>@Document.Name</h1>
}

@ChildContent

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public IDocumentationDocument Document { get; set; }

    [Parameter]
    public WordDocumentConfiguration Configuration { get; set; }

    [Parameter]
    public bool ShowDownloadOriginal { get; set; }

    [Parameter]
    public bool IsLandingPage { get; set; }
}
