<div class="bd-callout bd-callout-warning">
    <p>The document <code>@documentName</code> could not be found or no longer exist.</p>
</div>
<img src="_content/LiveDocs.Shared/img/document_not_found.svg" width="350" class="d-block mx-auto mt-4" />

@code {
    [Parameter]
    public string documentName { get; set; }
}