<li class="nav-item dropdown">
    <NavLink href="@(string.IsNullOrWhiteSpace(BaseRoute) ? Text : BaseRoute)" class="nav-link dropdown-toggle" aria-haspopup="true" aria-expanded="false" rel="noopener noreferrer" target="@(NewTab ? "_blank" : "_self")">
        @if (!string.IsNullOrWhiteSpace(IconName))
        {
            <span class="oi @($"oi-{IconName}")" aria-hidden="true"></span>
        }
        @Text
    </NavLink>
    <div class="dropdown-menu" aria-labelledby="dropdown">
        @ChildContent
    </div>
</li>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string BaseRoute { get; set; } = "";

    [Parameter]
    public string IconName { get; set; } = "";

    [Parameter]
    public bool NewTab { get; set; } = false;
}