<div class="bd-callout bd-callout-info">
    <p>Add your first document to get started. Read the <a href="">official documentation</a> for more information.</p>
</div>
<img src="_content/LiveDocs.Shared/img/no_document_found.svg" width="350" class="d-block mx-auto mt-4" />