<div class="bd-callout bd-callout-danger">
    <p>Could not open document <code>@documentName</code>. Unable to connect to the server. Please verify your network connection.</p>
</div>

@code {
    [Parameter]
    public string documentName { get; set; }
}